.products-parent{
  padding-top:150px;
  background-color:  rgba(238, 233, 219, 0.753);
}
.products-hero{
    
    background-color: rgba(66, 3, 3, 0.491);
    padding: 25px;
}
//grid
.card {
    padding-top: 10px;
    box-shadow: 0 0 4px;   
}
//parent of the grid
.row{
    justify-content: center;
}
.button-card{
    display: flex;
}
.button{
    background-color: rgba(66, 3, 3, 0.938);
    border-color:rgba(66, 3, 3, 0.938) ;
    color:rgba(238, 233, 219, 0.753);
    border-radius: 15px;
    margin: 10px;
    font-size: 0.93em;
    
}
.button:hover{
    background-color:rgba(238, 233, 219, 0.753); 
    color:rgb(66, 3, 3);

}
.page-link{
    color:rgba(66, 3, 3, 0.938);
}


