<div class="products-parent">
<div class="products-hero container ">
  <div class="hero-info text-center">
    <h2>All Products</h2>
  </div>
  <!-- <div class="hero-img">
  <img src="images/products-hero.jpg" alt="shopping">
</div> -->
</div>

<div class="row m-auto container mt-4">
  @for(product of products; track product._id){
  <div class="card m-2 col-4" style="width: 18rem;">
    <img [src]="product.cover" class="card-img-top w-100 h-50" [alt]="product.name">
    <div class="card-body position-relative">
      <h5 class="card-title">{{product.name}}</h5>
      <p class="card-text">{{product.description|description:15}}</p>
      <p class="card-text">price : {{product.price|currency}}</p>
      <p class="card-text">{{product.ratingAverage|number:'1.1-1'}} &star; - count {{product.ratingCount}}</p>
      <div class=" button-card">
        <a [routerLink]="['/products',product._id]" class="btn button mx-2">See More</a>
        <button (click)="addToCart(product._id)" class="btn button mx-2">Add to Cart</button>
      </div>
    </div>
  </div>
  }
</div>

<div class="container m-auto mt-5 w-25">
  <ul class="pagination">
    @if(pagination.prev){<li (click)="changePage(pagination.prev)" class="page-item"><button
        class="page-link">Previous</button></li>}
    @if(pagination.currentPage!==1)
    {<li (click)="changePage(1)" class="page-item"><button class="page-link">1</button></li>}
    <li class="page-item"><button class="page-link">{{pagination.currentPage}}</button></li>
    @if(pagination.currentPage!==pagination.totalPages)
    {<li (click)="changePage(pagination.totalPages!)" class="page-item"><button
        class="page-link">{{pagination.totalPages}}</button></li>}
    @if(pagination.next){<li (click)="changePage(pagination.next)" class="page-item"><button
        class="page-link">Next</button></li>}
  </ul>
</div>
</div>